<div id="<%= dom_id product %>">
  <p>
    <strong>Product code:</strong>
    <%= product.product_code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Offer:</strong>
    <%= product.offer_id %>
  </p>

</div>
